* {
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
}

body {
    text-align: center;
    background: rgb(253, 184, 86);
    background: linear-gradient(255deg, rgba(253, 184, 86, 1) 0%, rgba(255, 248, 114, 1) 23%, rgba(65, 221, 253, 1) 100%);
}

p{
    margin: auto;
}

h1 {
    font-size: 40px;
    margin: 4% auto;
}

.eachSection {
    text-align: center;
    display: flex;
    justify-content: center;
}

.container1 {
    padding: 3% 3%;
    font-size: 13px;
    margin: 2% 4%;
    border-radius: 2rem;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 1);
    width: auto;
    text-align: center;
    transition: .5s ease;
  }

  .container1:hover {
    border-radius: 20%;
    transition: .5s ease;
  }

  p:hover {
      color: black;
  }

.category-image {
    width: 100%;
    margin-bottom: 10%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container1 {
        width: 70%;
        margin: 7% auto;
    }
  }
